Repository cockpit-project/cockpit-machines, pull requests merged in 2023-03, with the labels that each got.

#977 README: document development dependencies for Fedora/Ubuntu
  README.md
Labels: no-test

#961 Allow creating a VM without immediatelly starting with Cloud base image
  src/components/create-vm-dialog/createVmDialog.jsx
  src/libvirt-xml-parse.js
  src/libvirtApi/domain.js
  src/scripts/install_machine.py
  test/check-machines-create
Labels: release-note

#990 test: add test skips for newly introduced rhel-9-3 image
  test/check-machines-consoles
  test/check-machines-migrate
Labels: no-test

#1000 test: increase timeout when adding disk
  test/check-machines-lifecycle
Labels: test-flake
