Repository cockpit-project/cockpit-machines, pull requests merged in 2023-04, with the labels that each got.

#1018 test: Fix MAC overflow, better debugging of VM boot failures
  test/check-machines-consoles
  test/check-machines-disks
  test/check-machines-lifecycle
  test/check-machines-nics
  test/check-machines-settings
  test/machineslib.py
Labels: test-flake

#1024 Revert "test: Run static-code verbosely"
  Makefile
Labels: no-test

#1050 fmf: Drop qemu-virtiofsd from Fedora 39 on
  test/browser/browser.sh
Labels: no-test

#1053 workflows: Move reposchutz back to Ubuntu 20.04
  .github/workflows/reposchutz.yml
Labels: no-test, .github-changes
