Repository cockpit-project/cockpit-machines, pull requests merged in 2024-05, with the labels that each got.

#1611 test: Avoid racing the serial console
  test/check-machines-consoles
Labels: test-flake

#1625 dependabot: Dial down to weekly
  .github/dependabot.yml
Labels: no-test, .github-changes

#1645 .eslintrc.json: boolean values are deprecated for globals
  .eslintrc.json
Labels: no-test

#1657 fmf: Fix bogus /dev/sda* → nvme* symlinks on TF machines
  test/browser/browser.sh
Labels: no-test
