Repository cockpit-project/cockpit-machines, pull requests merged in 2024-04, with the labels that each got.

#1524 workflows: Run tasks-container-update.yml in quay.io/cockpit/tasks
  .github/workflows/tasks-container-update.yml
Labels: no-test, .github-changes

#1533 src: drop Vagrant instructions
  src/README.md
Labels: no-test

#1536 workflows: Run cockpit-lib-update.yml in "self" environment
  .github/workflows/cockpit-lib-update.yml
Labels: no-test, .github-changes

#1544 test: Fix TestMachinesLifecycle pixel flake due to disabled button
  test/check-machines-lifecycle
Labels: test-flake

#1548 workflows: Run tasks-container-update in "self" environment
  .github/workflows/tasks-container-update.yml
Labels: no-test, .github-changes

#1546 Fix domainDetachHostDevice() for running VMs
  src/libvirtApi/domain.js
  test/check-machines-hostdevs
Labels: release-blocker

#1553 packit: Land a new upstream release automatically to centos-stream c9s
  packit.yaml
Labels: no-test

#1559 packit: Split copr_build and tests for fedora/centos
  packit.yaml
Labels: no-test

#1566 snapshots: Only use external snapshots for disks of type "file"
  src/helpers.js
  src/libvirt-xml-create.js
  test/check-machines-snapshots
Labels: release-blocker

#1595 dependabot: Group React and types packages
  .github/dependabot.yml
Labels: no-test, .github-changes

#1598 test: update reference-image to Fedora-40
  test/reference-image
Labels: no-test
