Repository cockpit-project/cockpit-machines, pull requests merged in 2024-02, with the labels that each got.

#1409 Add "Pre-formatted Block Device" to createStoragePoolDialog
  src/components/storagePools/createStoragePoolDialog.jsx
  test/check-machines-storage-pools
Labels: release-note

#1429 github: allow dependeabot to update github workflow actions
  .github/dependabot.yml
Labels: .github-changes

#1436 .github: don't run integration tests on actions changes
  .github/dependabot.yml
Labels: .github-changes

#1440 Fix snapshots for media-less disks
  src/helpers.js
  test/check-machines-snapshots
Labels: release-blocker
