Repository cockpit-project/cockpit-machines, pull requests merged in 2024-08, with the labels that each got.

#1757 fmf: Disable SELinux on RHEL 10 on current policy version
  test/browser/browser.sh
Labels: no-test, release-blocker

#1760 test: Fix failures for unexpected `virt-host-validate qemu`
  test/machineslib.py
Labels: release-blocker

#1765 test: Also wait for virt-install to finish on centos-10
  test/check-machines-create
Labels: release-blocker, test-flake

#1788 test: Disable two problematic tests on opensuse-tumbleweed
  test/check-machines-create
Labels: test-flake
